<div class="footer">
    <div class="icons">
      <a href=""><i class="fa-brands fa-facebook fbook"></i></a>
      <a href=""><i class="fa-brands fa-google-plus google"></i></a>
      <a href=""><i class="fa-brands fa-linkedin linkin"></i></a>
    </div>
    <p>Blogs Private Limited</p>
    <p>Privacy Terms</p>
  </div>