<div class="navbar">
    <a class="logo" href="http://localhost:8080/home"><i class="fa-solid fa-blog"></i><b>BLOGS</b></a>
    <div class="navicons">
      <a id="login"><b>LOGIN</b></a>
      <a href="http://localhost:8080/register"><b>JOIN US</b></a>
      <div class="mode">
        <div class="toggle"></div>
      </div>
    </div>
  </div><br><br><br><br>