<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
    <link rel="stylesheet" href="/home.css">
</head>

<body>
    <div class="unf1">
       <h1>404</h1>
    </div>
    <div class="unf2">
        <p>Sorry,User Not Found</p>
        <P>Please Check Your Credentials And Try Again!!</P>
        <a href="http://localhost:8080/home/auth" class="errbtns">Retry</a>
        <P><b>OR</b></P>
        <a href="http://localhost:8080/register" class="errbtns">Join Us</a>
    </div>
</body>

</html>